@page "/search"
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications
@using FavoriteMoviesSummerFest2023.Shared

<label>Search</label>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-2">
            <InputText @bind-Value="SearchTitle" />
        </div>
        <div class="col-1">
            <button @onclick="SearchOMDB">Search</button>
        </div>
    </div>
</div>
@if (OMDBMovies is not null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <SfPager PageSize="10" TotalItemsCount="@totalResults" ItemClick="PagerClick">
                </SfPager>
                <SfGrid @ref="MoviesGrid" ID="GridMovies" TValue="MovieSearchResultItems" DataSource="OMDBMovies"
                    AllowSorting="true" AllowResizing="true" AllowReordering="true"
                    Toolbar="@(new List<object>() { new ItemModel() { Text="Add Movie", PrefixIcon="e-add", Id="GridMoviesAdd" } })">
                    <GridEvents TValue="MovieSearchResultItems"
                        RowSelected="GetSelectedRecords"
                        OnToolbarClick="ToolbarClickHandler"></GridEvents>
                    <GridColumns>
                        <GridColumn Field="@nameof(MovieSearchResultItems.imdbID)" IsPrimaryKey="true" Visible="false"></GridColumn>
                        <GridColumn Field="@nameof(MovieSearchResultItems.Title)"></GridColumn>
                        <GridColumn Field="@nameof(MovieSearchResultItems.Year)"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
}

<SfToast    @ref="ToastObj" 
            ShowProgressBar="true"
            ShowCloseButton="true"
            Content="@toastContent"
            CssClass="e-toast-success"
            Timeout="5000">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>
